.create-ingreso-personal {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.create-ingreso-personal h1 {
    margin-bottom: 20px;
}

.create-ingreso-personal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-ingreso-personal input {
    display: block;
    width: calc(100% - 22px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.create-ingreso-personal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.create-ingreso-personal button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545; /* Rojo para el error */
    margin-top: 10px;
}
