/* ListEditarUsuario.css */

.list-editar-usuario {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.list-editar-usuario h1 {
    margin-bottom: 20px;
}

.list-editar-usuario ul {
    list-style-type: none;
    padding: 0;
}

.list-editar-usuario li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.error-message {
    color: #dc3545; /* Rojo para el error */
    margin-bottom: 20px;
}
